.nav {
    background-color: lightslategray;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.nav ul {
    display: flex;
    list-style: none;
}

.nav ul li {
    margin: 0 1rem;
    cursor: pointer;
    transition: transform 0.3s;
}

.nav ul li:hover {
    transform: scale(1.1);
}
